# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables
# .env

# Logs
logs/
*.log
log/
debug.log
error.log

# Database
*.sqlite
*.sqlite-journal
/data/

# Compiled files
dist/
build/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
coverage/
.nyc_output/

# Misc
tmp/
temp/
